body{
    padding-top: 100px;
    border: none;
    background-color: #b5f5fc;
    display: flex;
    align-items: center;
    flex-direction: column;

   
}
#form-inputs{
    margin: 15px;
    
   
    
}
#submitLibs{
    margin-top: 10px;
}

h1,h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input,select{
    border: none;
    border-radius: 5%;
    text-align: center;
}
input::placeholder{
    text-align: center;
}

button{
    border: none;
    background-color: rgb(222, 108, 222);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

